

header {
  border: 1px solid black;
  background-image: linear-gradient(to right, rgba(39,145,218), rgba(12,69,125));
  height: 75px;
 
}

h1 {
  display: flex;
  padding-top: 10px;
  justify-content: center;
  color: aliceblue;
  font-family: "Sedan", serif;
  font-weight: 400;
  font-style: normal;
}


#search-button {
  margin-top: 15px;
}


.boxes {
  height:200px;
  width:150px;
  background-color: midnightblue;
  color:ghostwhite;
 }

 #todayBox {
  border: 1px solid black;
 }

#city-name {
  width: 100%;
}

.row {
  block-size: gutter x 0;

}
#search-location{
  flex-wrap: nowrap;
  display: flex;
  align-items: flex-start;
}

#todayBox{
  margin: 20px;
}